* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #202020;
    color: #fff;
}

.header {
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5865F2;
}

.header h1 {
    font-weight: 700;
    font-size: 1.6rem;
}

.section-content {
    height: 90vh;
    padding: 2rem 4rem;
}

.section-content h2 {
    font-size: 1.6rem;
    color: #5865F2;
}

footer {
    bottom: 0;
    padding: 10px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    background-color: #5865F2;
}

@media (max-width: 968px) {
    .section-content {
        text-align: center;
    }
}